body {

    display: flex;
    justify-content: center;
    

    main {

        max-width: 480px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        position: relative;

        .button {
            cursor: pointer;
            border: 1px solid #333;
            padding: 5px 10px;
            border-radius: 4px;
            transition: background 0.1s;

            &:hover {
                background: lightgrey;
            }
        }

        nav {
            display: flex;
            justify-content: flex-end;
        }

        header {
            display: flex;
            justify-content: center;
        }

        aside {
            .area {
                display: flex;
                justify-content: space-between;
            }
        }

        .count, .best {
            text-align: end;
        }

        article {
            text-align: center;
        }

        section {

            display: grid;
            grid-template-columns: repeat(6, 1fr);

            svg {
                max-height: 80px;

                    .arrow {
                        fill: none;
                        stroke: #333;
                        stroke-width: 16px;
                        stroke-linejoin: round;
                    }

                    .circle {
                        display: none;
                        fill: none;
                        stroke: #333;
                        stroke-width: 16px;
                        stroke-linejoin: round;
                    }

                &.done { /* Cell is done circle fills */
                    .arrow {
                        display: inline-block;
                        fill: #333;
                    }

                    .circle {
                        display: none;
                    }
                }
            }

            &.active { /* Game active circles are shown */
                
                .arrow {
                    display: none;
                }

                .circle {
                    display: inline-block;
                }
                
            }
        }
    }
    
    .overlay {
        background: rgba(33, 33, 33, 0.5);
        backdrop-filter: blur(2px);
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        display: none;

        &.visible {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .popover {
            display: none;
            background: white;
            border: 2px solid #333;
            border-radius: 4px;
            position: relative;
            width: 400px;
            height: 600px;
            padding: 20px;

            &.share {
                &.visible {
                    display: inline-block;
                }
            }

            &.settings {
                &.visible {
                    display: inline-block;
                }
            }
        }
    }


}
