body {

    display: flex;
    justify-content: center;
    
    .button {
        cursor: pointer;
        border: 1px solid #333;
        padding: 5px 10px;
        margin: 5px 0px;
        border-radius: 4px;
        transition: background 0.1s;

        &:hover {
            background: lightgrey;
        }
    }

    main {

        max-width: 480px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        position: relative;

        .challenge {
            display: none;

            &.visible {
                display: inline-block;
            }

            .username.area {

                display: flex;
                justify-content: flex-start;

                .username {
                    background: yellow;

                    span {
                        font-weight: bold;
                    }
                }
            }



            .remove.area {
                display: flex;
                justify-content: flex-start;
            }
        }

        nav {
            display: flex;
            justify-content: flex-end;
        }

        header {
            display: flex;
            justify-content: center;
        }

        aside {
            .area {
                display: flex;
                justify-content: space-between;
            }
        }

        .count, .best {
            text-align: end;
        }

        article {
            text-align: center;
        }

        section {

            display: grid;
            grid-template-columns: repeat(6, 1fr);

            svg {
                max-height: 80px;

                .arrow {
                    fill: none;
                    stroke: #333;
                    stroke-width: 16px;
                    stroke-linejoin: round;
                }

                .circle {
                    display: none;
                    fill: none;
                    stroke: #333;
                    stroke-width: 16px;
                    stroke-linejoin: round;
                }

                &.done { /* Cell is done circle fills */
                    .arrow {
                        display: inline-block;
                        fill: #333;
                    }

                    .circle {
                        display: none;
                    }
                }

                &.goal {
                    .arrow, .circle {
                        fill: lightyellow;
                    }
                }
            }

            &.active { /* Game active circles are shown */
                
                .arrow {
                    display: none;
                }

                .circle {
                    display: inline-block;
                }
                
            }
        }
    }
    
    .overlay {
        background: rgba(33, 33, 33, 0.5);
        backdrop-filter: blur(2px);
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        display: none;

        &.visible {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .popover {
            display: none;
            background: white;
            border: 2px solid #333;
            border-radius: 4px;
            position: relative;
            width: 500px;
            height: 600px;
            padding: 20px;

            .button.url {
                border: 1px solid #333;
                padding: 5px 10px;
                margin: 5px 0px;
                border-radius: 4px;
                cursor: pointer;
                transition: background 0.1s;

                &:hover {
                    background: lightgrey;
                }
            }

            &.share {
                &.visible {
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                }

                .copy.msg {
                    opacity: 0;
                    transition: opacity 0.2s;
                    &.visible {
                        opacity: 1;
                    }
                }

                .close.area {
                    display: flex;
                    justify-content: flex-end;
                }
            }

            &.settings {
                &.visible {
                    display: inline-block;
                }
            }
        }
    }


}
